# PhpStorm
.idea/

.DS_*
._DS_*

# DB
*.sql

# Application
web/app/languages
web/app/plugins/*
web/app/mu-plugins/wp-*
web/app/upgrade
web/app/uploads/*
web/app/themes/design102/dist/

!web/app/mu-plugins/.gitkeep
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep


# WordPress
web/wp
web/.htaccess

# bin
bin/-dev-*

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
web/app/themes/imbmembers/node_modules
web/app/themes/imbmembers/assets/vendor
