.call-to-action-block {
  @extend .jumbotron;
  text-align: center;
  position: relative;
  padding: 2rem;
  margin: 0;
  background: transparent;

  // Make text elements appear over the &:after overlay
  > * {
    position: relative;
    z-index: 1;
  }
}
