.call-to-action-block {
  @extend .jumbotron;
  text-align: center;
  position: relative;
  color: #fff;
  padding: 3rem 2rem;
  margin: 0;
  background: #006E42;

  @include media-breakpoint-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }


  // Make text elements appear over the &:after overlay
  > * {
    position: relative;
    z-index: 1;
  }
}
