.definition-list-block {
  padding: 1rem;
  background-color: $gray-200;

  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }

  .definition-list-block__content {
    max-width: 620px;
  }

  dl {
    border-bottom: 1px solid $gray-500;
    margin: 0;
    padding: 0;
    &:last-child {
      border: 0;
    }
  }

  dt {
    padding: 0.6rem 0 0 0;
    margin: 0;
  }

  dd {
    padding: 0 0 0.6rem 0;
    margin: 0;
  }

  @include media-breakpoint-up(sm) {
    dt {
      padding: 0.6rem 0;
    }

    dd {
      padding: 0.6rem 0;
    }
  }
}
