.image-block {
  img {
    width: 100%;
    height: auto;
  }

  a {
    display: block;
    position: relative;
  }

  .col-sm-6 {
    margin-top: ( $grid-gutter-width / 2 );
    margin-bottom: ( $grid-gutter-width / 2 );

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .zoomable:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: url('../images/zoom-icon.svg') center center no-repeat;
    background-size: cover;
    margin: 1rem;
  }
}
