.page-header-block {
  margin: 0;

  .page-header-block__header {
    margin: 0;
  }

  .page-header-block__intro {
    @extend .lead;
    margin-top: 0.6em;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
