.testimonial-block {
  padding: 2rem 1rem;

  > .testimonial {
    max-width: 570px;
    margin: 0 auto;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
