.testimonial-block {
  padding: 2rem 1rem;
  background: theme-color('primary');
  text-align: center;

  > .testimonial {
    max-width: 800px;
    margin: 0 auto;
  }

  > .testimonial-block__cta {
    text-align: center;
    margin-top: 1.8rem;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
