.testimonial-block {
  padding: 2rem 1rem;
  background: theme-color('primary') repeating-linear-gradient(
    45deg,
    rgba($black, 0),
    rgba($black, 0) 15px,
    rgba($black, 0.03) 15px,
    rgba($black, 0.03) 18px
  ) center top;
  text-align: center;

  > .testimonial {
    max-width: 800px;
    margin: 0 auto;
  }

  > .testimonial-block__cta {
    text-align: center;
    margin-top: 1.8rem;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
