.text-block {
  padding: 3rem 1rem;
  background-color: $gray-200;
  font-size: 1.25rem;

  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text-block__content {
    max-width: 570px;
    margin: 0 auto;
  }

  /**
   * Two-columns of text
   */
  .col-md-6 .text-block__content {
    max-width: 400px;
  }
}
