.text-block {
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .text-block__content {
    max-width: 750px;
    margin: 0 auto;
  }

  /**
   * Two-columns of text
   */
  @include media-breakpoint-up(md) {
    .col-md-6 .text-block__content {
      max-width: 400px;
    }
  }

  // Light grey
  &.text-block--light-grey {
    background-color: $gray-200;

    @include media-breakpoint-up(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
