.text-block {
  .text-block__content {
    max-width: 620px;
  }

  /**
   * Two-columns of text
   */
  @include media-breakpoint-up(md) {
    .col-md-6 .text-block__content {
      max-width: 400px;
    }
  }

  // Light grey
  &.text-block--light-grey {
    padding: 1rem;
    background-color: $gray-200;

    @include media-breakpoint-up(sm) {
      padding: 2rem;
    }
  }
}
