.l-content-blocks {
  @extend .row;
  margin-top: ( $grid-gutter-width / 2 );
  margin-bottom: ( $grid-gutter-width / 2 );

  > .l-content-blocks__item {
    @extend .col-sm-6;
    margin-top: ( $grid-gutter-width / 2 );
    margin-bottom: ( $grid-gutter-width / 2 );
  }
}
