/**
 * Headings
 */
h1, .h1 {
  margin-bottom: 0.5em;
}
h2, .h2 {
  margin-bottom: 0.5em;
}
h3, .h3 {
  margin-bottom: 0.5em;
}
h4, .h4 {
  margin-bottom: 0.5em;
}
h5, .h5 {
  margin-bottom: 0.5em;
}
h6, .h6 {
  margin-bottom: 0.5em;
}

.centered-text {
  text-align: center;
}

/**
 * Bullet lists
 */
ul {
  margin-left: 1.2em;
  padding-left: 0;
}

ul.two-cols {
  margin-left: 0.2em;
  column-count: 2;
  list-style-position: inside;
}
