h1, .h1 {
  margin-bottom: 0.5em;
}
h2, .h2 {
  margin-bottom: 0.5em;
}
h3, .h3 {
  margin-bottom: 0.5em;
}
h4, .h4 {
  margin-bottom: 0.5em;
}
h5, .h5 {
  margin-bottom: 0.5em;
}
h6, .h6 {
  margin-bottom: 0.5em;
}
