/**
 * We have to be specific with our selectors here to overwrite bootstrap
 */
.navbar-light {
  background-color: rgba($white, 0.95);
  @include transition($btn-transition);

  $shadow-on:  0 3px 10px rgba($black, 0.25);
  $shadow-off: 0 0 0 rgba($black, 0);

  box-shadow: $shadow-on;
  @include media-breakpoint-up(md) {
    box-shadow: $shadow-off;

    &.float {
      box-shadow: $shadow-on;
    }
  }

  .navbar-nav {
    .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
      text-transform: lowercase;
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link:hover,
    .nav-link.active {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0.3rem;
        left: 0.7rem;
        right: 0.7rem;
        border-bottom: 3px solid theme-color("primary");
      }
    }
  }

  .navbar-brand img {
    height: 2.2rem;
  }
}
