.page-header {
  @extend .jumbotron;
  text-align: center;
  position: relative;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0;

  @include media-breakpoint-up(md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  background-position: center center;
  background-size: cover;

  // Make text elements appear over the &:after overlay
  > * {
    position: relative;
    z-index: 1;
  }

  // Heading should be bold
  > h1 {
    font-weight: bold;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
  }
}
