.site-footer {
  font-size: $font-size-sm;
  color: $gray-700;
  padding: $grid-gutter-width 0 ($grid-gutter-width * 2) 0;
  background-color: $gray-200;

  a {
    color: $gray-700;
    &:hover {
      color: $gray-800;
    }
  }
}
