.site-footer {
  font-size: $font-size-sm;
  color: $gray-800;
  padding: $grid-gutter-width 0;
  background-color: $gray-200;

  a {
    color: $gray-800;
  }

  .col-12 {
    margin-bottom: $grid-gutter-width / 2;
  }
}
