.testimonial {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  .testimonial__quote {
    font-size: $font-size-lg;

    p:first-child:before {
      content: "\201C"; // left double quotation mark (“)
    }
    p:last-child:after {
      content: "\201D"; // right double quotation mark (”)
    }
  }

  > footer {
    margin-top: 1rem;

    &:before {
      content: '';
      display: block;
      width: (1/4) * 100%;
      border-top: 3px solid currentColor;
      margin: 1.2rem auto;
    }
  }
}
