@font-face {
  font-family: 'fslucas';
  src: url('../fonts/fslucas-semibold-webfont.woff2') format('woff2'),
  url('../fonts/fslucas-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'fslucas';
  src: url('../fonts/fslucas-medium-webfont.woff2') format('woff2'),
  url('../fonts/fslucas-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fslucas';
  src: url('../fonts/fslucas-light-webfont.woff2') format('woff2'),
  url('../fonts/fslucas-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fslucas';
  src: url('../fonts/fslucas-bold-webfont.woff2') format('woff2'),
  url('../fonts/fslucas-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
